nav {
  position: relative;
}

nav>* {
  position: absolute;
  display: block;
  cursor: pointer;
}

nav.foldout>*:first-child {
  user-select: none;
  -moz-user-select: none;
  transition: transform .5s;
  font-size: 2em;
  transform: rotate(0deg);
  z-index: 99999;
}

nav.foldout>a {
  padding: 0 1em 0 1em;
  text-decoration: none;
  color: #777;
  border: .5mm solid black;
  background: white;
  margin-top: -1em;
  width: 100px;
  transform: rotateX(90deg) skewX(40deg);
  transform-origin: center top;
  transition: transform .5s, margin-top 1s;
}


nav.foldout.open>*:first-child {
  transform: rotate(45deg);
}

nav.foldout.open>a {
  transform: rotateX(0) skewX(0);
  margin-top: 0;
}